:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
}


.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 9em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: .1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.containet__descricao{
    padding: 2em;
}